body{
    background-color:#92140c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.mainContainer{
    flex:1 1 auto;
    max-width: 300px;
    height: 350px;
    border-radius: 10px;
    border: solid 0.5px #96918e;
    background-color: #ede6e3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    -moz-box-shadow:    inset  -8px -8px 3px #5f5b59;
    -webkit-box-shadow: inset  -8px -8px 3px #5f5b59;
    box-shadow:         inset  -8px -8px 3px #5f5b59;
}

.inputContainer{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #588157;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: white;
}

.inputContainer input,.inputContainer div{
    flex:1;
    padding: 0 10px;
}

.inputContainer input{
    background-color: inherit;
    border-style: none;
    border-radius: 10px;
    outline: none;
    font-size: 20px;
    color: #ede6e3;
}

.inputContainer div{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 16px;
    color: #ede6e3;
    word-spacing: 10px;
}

.buttonArea{
    background-color: #1e1e24;
    flex: 5 1 0;
    display: flex;
    width: 100%;
    gap: 2px;
    border-radius: 5px;
    margin-top: 10px;
    overflow: hidden;

}

.numberContainer,.operators{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: inherit;
    justify-content: space-between;
}

.numberContainer{
    flex: 3 1 0;
}

.operators{
    flex:2 1 0;
}


.numberBtnRow{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    height: 24%;
    gap: 3px;
}

.numberBtn{
    flex: 1 1 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    border: solid 1px black;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
    -moz-box-shadow:    inset  -8px -8px 3px #96918e;
    -webkit-box-shadow: inset  -8px -8px 3px #96918e;
    box-shadow:         inset  -8px -8px 3px #96918e;
    transition: all .3s ease-in;
}

.clicked{
    transform: scale(-0.1);
}

.numberBtn:hover{
    background-color: aliceblue;
}



.orangeBackground{
    background-color: orange;
    -moz-box-shadow:    inset  -8px -8px 3px rgb(143, 93, 0);
    -webkit-box-shadow: inset  -8px -8px 3px rgb(143, 93, 0);
    box-shadow:         inset  -8px -8px 3px rgb(143, 93, 0);
}

.orangeBackground:hover{
    background-color: rgb(255, 180, 40);
}


